// colors
$primary-50: #e5e6eb;
$primary-100: #bdbfce;
$primary-200: #0b79d0;
$primary-500: #6e7194;
$primary-600: #2196f3;
$primary-900: #333869;

$secondary-50: #e9eaf3;
$secondary-100: #c8cbe6;
$secondary-500: #868dcd;
$secondary-900: #020202;

$amber-50: #f9f2e2;
$amber-100: #f8e3b4;
$amber-200: #f8c657;
$amber-500: #f8b113;

$red-50: #f9e9e8;
$red-100: #f8c8c5;
$red-20: #f68681;
$red-500: #f5564e;

$green-50: #e5f4ed;
$green-100: #bcebd5;
$green-200: #6cd9a5;
$green-500: #21c979;

$gray-50: #d4d4d4;
$gray-100: #bebebe;
$gray-200: #838383;
$gray-500: #4a4a4a;
$gray-300: #e5e5e5;

$black: #2c2c2c;

$white: #fdfdff;
$white-light: #ffffff;
$white-medium: #f0f3fb;
$white-dark: #f1f1f1;
